/******************************************
[Table of contents]

1. GENERAL STYLING
2. HEADER STYLING
3. PRIMARY BANNER STYLING
4. FEATURE WRAPPER STYLING
5. QUOTE WRAPPER STYLING
6. SOCIAL WRAPPER STYLING
7. FOOTER STYLING
8. EMBEDDED FONT
    8.1 free_sans
9. MEDIA QUERIES
    9.1 min-width --> 1921px
    9.2 max-width --> 1596px
    9.3 max-width --> 1296px
    9.4 max-width --> 1100px
    9.5 max-width --> 768px
    9.6 max-width --> 653px
    9.7 max-width --> 476px
    9.8 max-width --> 276px
    
******************************************/


/******************************************
GENERAL STYLING
******************************************/

body {
    margin: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

.horizontal-center {
    margin: 0 auto;
}

.custom-button {
    /*    Remove button border for cleaner look*/
    border: none;
    font-family: 'free_sans', sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    height: 40px;
    width: 260px;
}


/******************************************
HEADER STYLING
******************************************/

#header {
    align-items: center;
    background-color: #0069d5;
    color: white;
    display: flex;
    height: 3em;
    justify-content: space-between;
    min-height: 5%;
    /*For browsers without vh unit*/
    min-height: 5vh;
    padding: 0 11%;
}

#phone-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}

#samanage-logo {
    margin-top: 5px;
    object-fit: contain;
}


/******************************************
PRIMARY BANNER STYLING
******************************************/

#primary-banner {
    background-image: url("assets/img/samanage-header-background.jpg");
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    /* This is what makes the background image rescale based on its container's size */
    background-size: contain;
    display: flex;
    font-family: 'free_sans', sans-serif;
    height: 52em;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}

#primary-banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1em;
    margin-top: -30px;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

#primary-banner-text h1 {
    font-size: 5em;
}

#primary-banner-text h3 {
    font-size: 2.4em;
    line-height: 1.4em;
}

#button-container {
    margin: -300px auto 0 auto;
    /*    Using text-align: center so that the buttons inside the container are centered*/
    text-align: center;
    width: 100%;
}

#trial-button {
    background-color: #00943F;
    color: #fff;
    margin-right: .5%;
}

#demo-button {
    background-color: #FFCB3E;
    color: #0069d5;
    margin-left: .5%;
}

#customer-logos-container {
    background-color: #EEEFF3;
    bottom: 0;
    padding: 30px 0;
    position: absolute;
    width: 100%;
}

#customer-logos {
    display: block;
    width: 65%;
}


/******************************************
FEATURE WRAPPER STYLING
******************************************/

#feature-wrapper {
    display: flex;
    margin: 100px 19vh 0;
}

#ipad-image {
    margin-top: auto;
}

#feature-text-wrapper {
    margin-left: 40px;
}

#feature-wrapper h2 {
    font-size: 2.5em;
    margin: .1em 0 0 0;
}

#feature-wrapper p {
    margin: 0.5em 0 0 0;
}

#feature-list-wrapper {
    display: flex;
}

#feature-list-wrapper ul li {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 300px;
}

#feature-list-wrapper ul li p {
    /*    Ensure that the order of the text always comes after the image */
    order: 2;
    margin: 0;
    /*    Vertically centers the text in its li */
    align-self: center;
}

.feature-img {
    position: relative;
    overflow: hidden;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0.5em 1.2em 0.5em 0;
}

.feature-icon {
    position: absolute;
    width: auto;
}


/******************************************
QUOTE WRAPPER STYLING
******************************************/

#quote-wrapper {
    align-items: center;
    background-color: #464646;
    background-image: url("assets/img/samanage-accordian-form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* Remove left and right margin from the primary banner*/
    height: 20em;
    position: relative;
}

#quote-wrapper h1 {
    font-size: 3em;
    font-family: 'free_sans', sans-serif;
    margin: 40px 0 15px;
}

#quote-wrapper p {
    font-size: 1.5em;
    margin: 0;
}

#quote-button {
    background-color: #FFCB3E;
    color: #000;
    height: 3em;
    margin-top: 2.3em;
}


/******************************************
SOCIAL WRAPPER STYLING
******************************************/

#social-wrapper {
    align-items: center;
    display: flex;
}

#social-wrapper ul {
    margin: 3em auto;
}

#social-wrapper ul li {
    display: inline;
    margin: 0 .7em;
}

.social-share-icon {
    position: absolute;
    width: auto;
}

.social-icon-link {
    position: relative;
    overflow: hidden;
    width: 54px;
    height: 54px;
    display: inline-block;
    margin: 0.5em;
}


/******************************************
FOOTER STYLING
******************************************/

#footer {
    background-color: #EDEEF2;
    text-align: center;
}

#footer a {
    color: inherit;
    text-decoration: none;
}

#footer p {
    margin: 0;
    padding: 2.5em 0;
}


/******************************************
EMBEDDED FONT
******************************************/


/*This font is used for the buttons in the primary-banner*/

@font-face {
    font-family: free_sans;
    src: url("assets/font/FreeSans.ttf");
}


/******************************************
MEDIA QUERIES
******************************************/

@media screen and (min-width: 1921px) {
    /*    Account for screens greater than 1920px wide to prevent blank space in the banner background-image*/
    /******************************************
    PRIMARY BANNER STYLING
    ******************************************/
    #primary-banner {
        /* This is what makes the background image rescale based on its container's size */
        background-size: cover;
    }
    #button-container {
        margin: 0 auto 200px auto;
    }
}

@media screen and (max-width: 1596px) {
    /*    This query is to change how the primary-banner background displays. Additionally, this query will drop the size of the iPad image so that there is more room for the features to display. Adjust social-wrapper ul margin.  */
    /******************************************
    PRIMARY BANNER STYLING
    ******************************************/
    #primary-banner {
        /* This is what makes the background image rescale based on its container's size */
        background-size: cover;
    }
    /******************************************
    FEATURE WRAPPER STYLING
    ******************************************/
    #ipad-image {
        height: 50%;
        height: 50%;
        width: 50%;
    }
    /******************************************
    SOCIAL WRAPPER STYLING
    ******************************************/
    #social-wrapper ul {
        margin: 2em auto;
    }
}

@media screen and (max-width: 1296px) {
    /*    This query will remove the iPad image and then shift the feature list to be centered to avoid wasting space.  */
    /******************************************
    FEATURE WRAPPER STYLING
    ******************************************/
    #feature-wrapper {
        display: flex;
        margin: 70px 19vh 0;
    }
    #ipad-image {
        display: none;
    }
    #feature-text-wrapper {
        margin: 0 auto;
    }
    #feature-wrapper h2,
    #feature-wrapper p {
        text-align: center;
    }
    #feature-list-wrapper ul {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1100px) {
    /*    Change text size of primary-banner text to avoid the text size from exhibiting strange behavior and overall unattractive display. Additionally, use this break point to shrink the size of the primary-banner so that it takes up less space because we're likely transitioning to tablets and mobile devices at this point.    */
    /******************************************
    PRIMARY BANNER STYLING
    ******************************************/
    #primary-banner {
        height: 35em;
    }
    #primary-banner-text h1 {
        font-size: 3em;
    }
    #primary-banner-text h3 {
        font-size: 1.4em;
    }
    #button-container {
        margin-top: -200px;
    }
    /******************************************
    FEATURE WRAPPER STYLING
    ******************************************/
    #feature-wrapper {
        margin: 70px 5vh 0;
    }
}

@media screen and (max-width: 768px) {
    /*    Change the header logo and phone number to stack on top of each other. Change text size of primary-banner text, feature headline text and quote text to avoid the text size from exhibiting strange behavior and overall unattractive display. Additionally, modify button size and shift all buttons to take a single line to allow for easier tapping on touch devices.*/
    
    /******************************************
    GENERAL STYLING
    ******************************************/
    .custom-button {
        font-size: .7em;
    }
    
    /******************************************
    HEADER STYLING
    ******************************************/
    #header {
        display: flex;
        flex-direction: column;
        height: 3em;
        min-height: 55px;
    }
    #phone-number {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.3em;
        font-weight: 700;
        margin: 0;
    }
    #samanage-logo {
        margin-top: 5px;
        object-fit: contain;
    }
    /******************************************
    PRIMARY BANNER STYLING
    ******************************************/
    #primary-banner-text h1 {
        font-size: 2em;
        line-height: 1em;
    }
    #primary-banner-text h3 {
        font-size: 1em;
    }
    #button-container {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #trial-button {
        margin: 0 0 .5em 0;
        width: 95%;
    }
    #demo-button {
        margin: .5em 0 0 0;
        width: 95%;
    }
    /******************************************
    FEATURE WRAPPER STYLING
    ******************************************/
    #feature-wrapper h2 {
        font-size: 1.75em;
    }

    /******************************************
    QUOTE WRAPPER STYLING
    ******************************************/
    #quote-wrapper {
        height: 15em;
    }
    #quote-wrapper h1 {
        font-size: 2em;
    }
    #quote-wrapper p {
        font-size: 1em;
    }
    #quote-button {
        height: 2em;
    }
}

@media screen and (max-width: 653px) {
    /*    Change the feature list from horizontal to vertical when there isn't enough horizontal real estate.*/
    
    /******************************************
    FEATURE WRAPPER STYLING
    ******************************************/
    #feature-list-wrapper {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 476px) {
    /*    Center quote text, and ensure that the quote button is appearing in a spot that makes sense relative to the rest of the layout without infringing on other elements.*/
    
    /******************************************
    QUOTE WRAPPER STYLING
    ******************************************/
    #quote-wrapper {
        text-align: center;
    }
    
    #quote-button {
        margin-top: 3%;
    }
}

@media screen and (max-width: 276px) {
    /*    Cleanup one final fringe case that causes the quote-button to fall out of the div. Quick clearfix*/
    /******************************************
    QUOTE WRAPPER STYLING
    ******************************************/
    #quote-wrapper {
        clear: both;
        display: block;
    }
}
