/******************************************
[Table of contents]

1. Body
	2. Header / #header
	3. Content / #content
		3.1. Primary Banner / #primary-banner
		3.2. Right column / #rightcolumn
		3.3. Sidebar / #sidebar
			3.3.1. RSS / #rss
			3.3.2. Search / #search
			3.3.3. Boxes / .box
			3.3.4. Sideblog / #sideblog
			3.3.5. Advertisements / .ads
	4. Footer / #footer
    5. EMBEDDED FONT
        5.1 free_sans
******************************************/


/******************************************
HEADER STYLING
******************************************/

#header {
    background-color: #0069d5;
    color: white;
}

#phone-number {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}

.no-bottom-row-margin {
    margin-bottom: -20px;
    !important
}

.vertical-center {
    padding-top: 1rem;
}


/******************************************
PRIMARY BANNER STYLING
******************************************/

#primary-banner {
    background-image: url("assets/img/samanage-header-background.jpg");
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;
    /* Remove left and right margin from the primary banner*/
    margin: 0 -15px;
    min-height: 58em;
    position: relative;
}

#primary-banner-text {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#trial-button {
    background-color: #00943F;
    color: #fff;
}

#demo-button {
    background-color: #FFCB3E;
    color: #0069d5;
}

#customer-logos {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.primary-banner-button {
    font-family: 'free_sans', sans-serif;
    font-weight: 900;
}

/******************************************
QUOTE WRAPPER STYLING
******************************************/

#quote-wrapper {
    background-image: url("assets/img/samanage-accordian-form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    /* Remove left and right margin from the primary banner*/
    margin: 0 -15px;
    min-height: 20em;
    position: relative;
}

/******************************************
EMBEDDED FONT
******************************************/


/*This font is used for the buttons in the primary-banner*/

@font-face {
    font-family: free_sans;
    src: url("assets/font/FreeSans.ttf");
}
